*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    /* background-color: rgb(0, 0, 0); */
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
/* NAVBAR */
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 50px;
    /* background-color: #E3E6F3; */
    background-color: black;
    /* background: linear-gradient(to right, #000000, #333333); */
    /* background: radial-gradient(circle, #111111, #333333); */
}
#logo{
    height: 40px;
}

.navList{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}
#navListItem{
    list-style: none;
    padding: 0px 15px;
    position: relative;
}
#navListItem a{
    font-size: 1.3rem;
    font-weight: 700;
    /* color: rgba(255, 255, 255, 0.925); */
    color: white;
    transition: 0.3s;
    text-decoration: none;
}

#navListItem a:hover,
#navListItem a.active{
    /* color: rgba(242, 3, 3, 0.879); */
    color: blueviolet;
}

#navListItem a.active::after,
#navListItem a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background-color: blueviolet;
    position: absolute;
    left: 16px;
    bottom: -5px;
}

/* HERO */
.hero{
    height: 90vh;
    width: 100%;
    background-color: rgba(81, 13, 170, 0.796);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    padding: 15px 50px;
}
.heroText{
    background-color: transparent;
}
.hero img{
    border-radius: 50%;
    height: 30rem;
}
.heroImage{
    /* height: 100px; */
    /* border: 1px solid black; */
    background-color: transparent
}

#animate{
    display: inline-block;
    border-right: 3px solid black;
    width: 100%;
    letter-spacing: 7px;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 4s,
        cursor 1s step-end infinite alternate;

}
@keyframes cursor{
    50% { border-color: transparent }
}
@keyframes typing{
    from { width: 0 }
}
.heroText span{
    color: black;
}
.heroText h1{
    font-size: 6rem;
}

/* ABOUTME */
.aboutMe{
    /* height: 90vh; */
    /* border: 1px solid black; */
    padding: 50px 50px 0px 50px;
    /* background-color: black; */
    /* background: linear-gradient(to right, #000000, #333333); */
    /* background: radial-gradient(circle, #000001, #111111); */
    /* background: radial-gradient(circle, #111111, #333333); */
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutMe h1{
    text-align: center;
    padding-bottom: 20px;
    color: blueviolet;
    
}
#about{
    color: whitesmoke;
    font-size: 1.2rem;
    text-align:justify;
}
swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
swiper-slide {
    width: 300px;
    color: white;
    display: flex;
}
/* .aboutContents{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    color: whitesmoke;
} */
.education h2,.skills h2,.internships h2,.achievements h2{
    text-align: center;
    margin-bottom: 7px;
    color: #FF9900;
}
.education,.skills,.internships,.achievements{
    border: 1px solid black;
    background-color:black ;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    /* height: 50vh; */
    margin-bottom: 50px;
}
.education{
    text-align: center;
}
#eduTitle,#skillTitle,#internTitle{
    margin-bottom: 7px;
    text-align: center;
}
#eduClg{
    margin-bottom: 4px;
}
.edu{
    padding: 7px;
}
.skill,.internship{
    padding: 7px 20px;
}
#internTitle{
    text-align: center;
}
.skill li{
    margin-bottom: 10px;
}
.achievementsList ul{
    padding-top: 7px;
    padding-left: 10px;
}
.achievementsList li{
    padding-bottom: 10px;
}

/* MY WORKS */
.myWorks{
    /* height: 90vh; */
    /* border: 1px solid white; */
    padding: 20px 50px;
    background-color: #111111;
    display: flex;
    flex-direction: column;
}
.myWorks h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
    color: blueviolet;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    gap: 20px;
}
.project{
    /* height: 60vh; */
    /* min-width: 250px; */
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* align-content: center; */
    transition: 0.5s ease;
}
.project:hover{
    transform: scale(1.1);
}
.project img{
    height: 55vh;
    width: 33vh;
    border-radius: 15px;
}
.project h3{
    padding-top: 15px;
}
.extras button{
    background-color: transparent;
    border: 2px solid blueviolet;
    color: white;
    font-size: 1.2rem;
    font-family: 'League Spartan', sans-serif;
    padding: 7px 14px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s ease;
}
.extras{
    padding: 25px;
    margin-top: 10px;
    text-align: center;
}

.extras button:hover{
    background-color: blueviolet;
    border:2px solid transparent;
    transform: scale(1.1);
}


/* CONTACT ME */
.contactMe{
    /* height: 60vh; */
    /* border: 1px solid white; */
    background-color: black;
    padding: 50px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    justify-content: space-evenly;
}
.section1{
    /* border: 1px solid white; */
    width: 50%;
    padding: 20px 40px;
    color: white;
    display: flex;
    flex-direction: column;
}
.section1 h1{
    font-size: 3rem;
}
.contactContent{
    padding-top: 20px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}
.contactContent a{
    color: white;
    padding-bottom: 20px;
    text-decoration: none;
}
.fa-at,.fa-phone{
    color: blueviolet;
    padding-right: 10px;
}
.contactIcons{
    font-size: 1.7rem;
}
.fa-instagram,.fa-github,.fa-linkedin{
    color:  white;
    padding-right: 10px;
    transform: 0.3s;
}
.fa-instagram:hover,.fa-github:hover,.fa-linkedin:hover{
    transform: scale(1.2);
}
.downloadCv{
    margin-top: 30px;
}
.downloadCv button{
    font-size: 1.3rem;
    padding: 20px;
    background-color: transparent;
    border: 2px solid blueviolet;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}
.downloadCv button:hover{
    background-color: blueviolet;
    transform: scale(1.1);
}
.downloadCvMobile{
    display: none;
}
.section2 {
    /* border: 1px solid white; */
    width: 50%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}
.inputContainers{
    font-size: 1.1rem;
    font-family: 'League Spartan', sans-serif;
    padding: 10px;
    border-radius: 10px;
}
#name{
    margin-bottom: 15px;
}
#email{
    margin-bottom: 15px;
}
#text{
    margin-bottom: 15px;
}
#submit{
    cursor: pointer;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    color: white;
}

.copyright{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

/* SCREENS */
@media (max-width:965px){

    /* HERO */
    .hero{
        height: 45vh;
        width: 100%;
        background-color: rgba(81, 13, 170, 0.796);
        padding: 15px 20px;
    }
    .hero img{
        height: 30vh;
    }
    .heroText h1{
        font-size: 4rem;
    }

    /* ABOUTME */
    .aboutMe{
        padding: 50px 20px 0px 20px;
    }
    .aboutMe h1{
        font-size: 1.5rem;
    }
    #about{
        font-size: 1rem;
    }
    .education h2,.skills h2,.internships h2{
        text-align: center;
        margin-bottom: 4px;
        font-size: 1.3rem;
    }
    .education,.skills,.internships{
        /* border: 1px solid white; */
        background-color: black;
        border-radius: 10px;
        padding: 15px;
        margin-top: 20px;
        height: max-content;
    }
    .skills{
        padding-bottom: 36px;
    }
    #eduTitle,#skillTitle,#internTitle{
        margin-bottom: 4px;
    }
    #eduClg{
        margin-bottom: 2px;
    }
    .edu,.internship{
        padding: 5px;
    }
    .skill{
        padding: 5px 12px;
    }
    .skill li{
        margin-bottom: 6px;
    }

    /* MY WORKS */
    .myWorks{
        padding: 20px 20px 30px 20px;
    }
    .myWorks h1{
        padding-top: 0px;
        padding-bottom: 20px;
        font-size: 1.5rem;
    }

    .project{
        height: 28vh;
        margin: 10px;
        /* border: 1px solid white; */
    }
    .project img{
        height: 25vh;
        width: 25vh;
    }
    .project h3{
        padding-top: 15px;
    }
    .extras button{
        font-size: 1rem;
        font-family: 'League Spartan', sans-serif;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        background-color: blueviolet;
    }
    .extras{
        padding: 0px;
        text-align: center;
    }

    /* FOOTER */
    .contactMe{
        padding: 50px 30px;
        flex-direction: column-reverse;
    }
    .section1{
        width: 100%;
        padding: 15px 30px;
        justify-content: center;
        align-items: center;
    }
    .section1 h1{
        font-size: 2rem;
    }
    .contactContent{
        padding-top: 15px;
        font-size: 1.1rem;
    }
    .contactContent a{
        color: white;
        padding-bottom: 15px;
    }
    .downloadCv button{
        font-size: 1.1rem;
        padding: 15px;
    }
    .section2{
        padding: 15px 30px;
        width: 100%;
    }
    .inputContainers{
        font-size: 1rem;
        padding: 7px;
    }
    #name{
        margin-bottom: 10px;
    }
    #email{
        margin-bottom: 10px;
    }
    #text{
        margin-bottom: 10px;
    }
    #submit{
        border: 1px solid blueviolet;
    }
    .copyright{
        padding: 15px;
    }
}
@media (max-width:615px) {
    .hero img{
        height: 18vh;
    }
    .heroText h1{
        font-size: 3rem;
    }
}
@media (max-width:425px){

    /* NAVBAR */
    .navBar{
        padding: 15px 20px;
    }
    #navListItem a{
        font-size: 0.85rem;
    }

    /* HERO */
    .hero{
        height: 25vh;
        padding: 150px 15px;
    }
    .hero img{
        height: 18vh;
    }
    .heroText h1{
        font-size: 2rem;
    }

    /* ABOUTME */
    .aboutMe{
        padding: 30px 20px 15px 20px;
    }
    .aboutMe h1{
        font-size: 1.3rem;
        padding-bottom: 10px;
    }
    #about{
        font-size: 0.85;
    }
    .education h2,.skills h2,.internships h2{
        margin-bottom: 3px;
        font-size: 1.1rem;
    }
    /* .education,.skills,.internships{
        padding: 10px;
        text-align: center;
    } */
    #eduTitle,#skillTitle,#internTitle{
        margin-bottom: 3px;
    }

    /* MY WORKS */
    .myWorks{
        padding: 10px 20px;
    }
    .myWorks h1{
        font-size: 1.3rem;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .project{
        height: 50vh;
        margin: 10px;
        /* border: 1px solid white; */
    }
    .project img{
        height: 45vh;
        width: 30vh;
    }
    .project h3{
        padding-top: 10px;
    }
    
    .extras button{
        margin-bottom: 10px;
    }

    /* CONTACTME */
    .contactMe{
        padding: 50px 20px;
        display: flex;
        flex-direction: column-reverse;
    }
    .section1,.section2{
        width: 100%;   
        /* border: 1px solid white; */
        padding: 15px 20px;
    }
    .section1 h1{
        font-size: 1.5rem;
        /* text-align: center; */
    }
    .contactContent{
        padding-top: 20px;
        font-size: 1rem;
    }
    .contactContent a{
        color: white;
        padding-bottom: 10px;
    }
    .downloadCv{
        display: none;
    }
    .downloadCvMobile{
        display: inline-block;
    }
    .contactIcons{
        /* border: 1px solid white; */
        display: flex;
        /* align-content:center; */
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        padding-top: 10px;
    }
    .downloadCvMobile button{
        font-size: 1rem;
        padding: 7px;
        background-color: blueviolet;
        border: 1px solid blueviolet;
        color: white;
        cursor: pointer;
        border-radius: 7px;
        -ms-flex-align: end;
    }
}   